@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

@font-face {
  font-family: facebookFont;
  src: url("../../Assets/Fonts/helvetica/HelveticaNeueRoman.otf");
}

.auth-logo {
  width: 60vw;
  height: 100vh;
  font-weight: 700;
  font-size: 10em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-method {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  font-size: 1em;
  /* background: linear-gradient(235deg, rgb(31, 131, 169), rgb(3, 9, 27)); */
  background: url("../../Assets/Backgrond/wysaBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-provider {
  display: inline-flex;

  font-weight: 300;
  width: 15em;
  height: 2em;
  font-size: 1.5rem;

  margin-bottom: 1em;
  text-align: center;
  align-items: center;
  /* justify-content: space-between; */
}
.auth-method-google {
  font-family: "Nunito Sans";
  background-color: rgb(66, 133, 244);
  color: white;
}

.auth-method-facebook {
  font-family: facebookFont;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: black;
}

.auth-method-apple {
  background-color: white;
  font-family: facebookFont;
}

.auth-method img {
  width: min-content;
  height: 100%;
  margin-right: 0.5em;

  background-color: white;
}

@media (max-width: 500px) {
  .Auth {
    flex-direction: column;
    background: white;

    background-size: cover;
  }
  .auth-logo {
    font-size: 5em;
    height: max-content;
  }
  .auth-method {
    background: url("../../Assets//Backgrond/wysaBackground.png");
    width: 95vw;
    border-radius: 5em;
  }
  .auth-logo img {
    width: 1em;
  }
}
